.navbar-container{
    display: flex;
    flex-direction: row !important;
}
.navbar-navi{
  gap: 10px;
  display:flex;
  list-style: none;  
}

@media screen and (max-width: 800px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar.responsive{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }