<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<div class="app-sidebar colored" th:fragment="slidebar_admin">
  <div class="sidebar-header">
      <div class="logo-img">
        <img th:src="@{/dashboard/img/favicon.ico}" class="header-brand-img" style="width:3rem; height: 3rem;" alt="logo">
      </div>
    <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
  </div>

  <div class="sidebar-content">
    <div class="nav-container">
      <nav id="main-menu-navigation" class="navigation-main">
        <div class="nav-lavel">Navigation</div>
        <div class="nav-item" th:classappend="${dashActive}">
          <a href="/api/dashboard/admin"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
        </div>
        <div class="nav-item" th:classappend="${systemActive}">
          <a th:href="@{/api/history/create}"><i class="ik ik-menu"></i><span>History</span></a>
        </div>
      </nav>
    </div>
  </div>
</div>

</body>
</html>