<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sign Up | Historia Zetu</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" th:href="@{/dashboard/img/favicon.ico}"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">

        <!-- Stylesheets -->
        <link rel="stylesheet" th:href="@{/dashboard/plugins/bootstrap/dist/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/dashboard/plugins/fontawesome-free/css/all.min.css}">

        <link rel="stylesheet" th:href="@{/dashboard/plugins/ionicons/dist/css/ionicons.min.css}">
        <link rel="stylesheet" th:href="@{/dashboard/plugins/icon-kit/dist/css/iconkit.min.css}">
        <link rel="stylesheet" th:href="@{/dashboard/plugins/select2/dist/css/select2.min.css}">
        <link rel="stylesheet" th:href="@{/dashboard/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}">
        <link rel="stylesheet" th:href="@{/dashboard/plugins/mohithg-switchery/dist/switchery.min.css}">
        <link rel="stylesheet" th:href="@{/dashboard/dist/css/theme.min.css}">
        <script th:src="@{/dashboard/src/js/vendor/modernizr-2.8.3.min.js}" type="text/javascript"></script>

        <style>
            .input {
                width: 40px;
                border: none;
                border-bottom: 3px solid rgba(0, 0, 0, 0.5);
                margin: 0 10px;
                text-align: center;
                font-size: 32px;
                cursor: not-allowed;
                pointer-events: none;
            }

            .input:focus {
                border-bottom: 3px solid orange;
                outline: none;
            }

            .input:nth-child(1) {
                cursor: pointer;
                pointer-events: all;
            }

        </style>



    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" th:style="'background-image: url('+ @{/dashboard/img/login-image.webp} +')'">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered">
                                <img th:src="@{/dashboard/img/system-logo.webp}" style="width:300px; height:fit-content;" alt="logo">
                            </div>
                            <h3>Historia Zetu</h3>
                            <p>Tout compte cree par cette forme est admin, rassurez-vous que vous l'etes.</p>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${param.error}">
                                <p>there is an error please try again later.</p>
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="signup">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" placeholder="Email" required="">
                                    <i class="ik ik-user"></i>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" placeholder="phone number start with country code" required="" >
                                    <i class="ik ik-user"></i>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Password" required="">
                                    <i class="ik ik-lock"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required="">
                                    <i class="ik ik-eye-off"></i>
                                </div>

                                <div class="sign-btn text-center">
                                    <button class="btn" id="signupBtn" style="background-color: #2a5555; color: #F6F7FB">Create Account</button>
                                </div>
                            </form>

                            <div class="text-center mt-4 " id="otp-form">
                                <input type="hidden" name="userId" id="userId">
                                <div id="inputs" class="inputs">
                                    <input class="input" type="text"
                                           inputmode="numeric" maxlength="1" />
                                    <input class="input" type="text"
                                           inputmode="numeric" maxlength="1" />
                                    <input class="input" type="text"
                                           inputmode="numeric" maxlength="1" />
                                    <input class="input" type="text"
                                           inputmode="numeric" maxlength="1" />
                                    <input class="input" type="text"
                                           inputmode="numeric" maxlength="1" />
                                    <input class="input" type="text"
                                           inputmode="numeric" maxlength="1" />
                                </div>
                                <div class="sign-btn text-center">
                                    <button class="btn" id="otpBtn" style="background-color: #2a5555; color: #F6F7FB">Confirm Otp</button>
                                </div>
                            </div>

                            <div class="register">
                                <p>t'as deja un compte? <a th:href="@{/authentication}">login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script defer th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
        <script defer >window.jQuery || document.write('<script defer src="/dashboard/src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script defer th:src="@{/dashboard/plugins/popper.js/dist/umd/popper.min.js}"></script>
        <script defer th:src="@{/dashboard/plugins/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script defer th:src="@{/dashboard/dist/js/theme.min.js}"></script>
        <script async th:src="@{/dashboard/plugins/sweetalert/sweetalert2.all.min.js}"></script>
        <script async th:src="@{/dashboard/plugins/sweetalert/sweetalerts.min.js}"></script>
        <script defer th:src="@{/dashboard/js/authentication.js}"></script>
        <script defer th:src="@{/dashboard/plugins/screenfull/dist/screenfull.js}" type="text/javascript"></script>

        <script defer>
            const inputs = document.getElementById("inputs");

            inputs.addEventListener("input", function (e) {
                const target = e.target;
                const val = target.value;

                if (isNaN(val)) {
                    target.value = "";
                    return;
                }

                if (val != "") {
                    const next = target.nextElementSibling;
                    if (next) {
                        next.focus();
                    }
                }
            });

            inputs.addEventListener("keyup", function (e) {
                const target = e.target;
                const key = e.key.toLowerCase();

                if (key == "backspace" || key == "delete") {
                    target.value = "";
                    const prev = target.previousElementSibling;
                    if (prev) {
                        prev.focus();
                    }
                    return;
                }
            });

        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
